body {
    font-family: 'Lato';
    font-style: normal;
    margin:0;
    /* height: 100%;
    overflow: hidden; */
    padding: 1.25rem 1.25rem 0 1.25rem;

    min-width: 1214px;
}

#skill-mastery-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'header header header header header header header header header header header header'
      'bar bar bar detail detail detail detail detail detail detail detail detail';
    grid-column-gap: 1.25rem;
}

/* header */

#nav-container {
    grid-area: header;
    height: 2.73rem;

    border-bottom: 2px solid #D6D6D6;
    filter: drop-shadow(0px 4px 6px rgba(104, 104, 104, 0.15));
}

#main-title {
    font-weight: 600;
    font-size: 2rem;
    display: inline;
    margin-right: 2.5rem;
}

.nav-switch {
    font-weight: 500;
    font-size: 1rem;
    text-decoration:none;
    display: inline;
    margin-right: 2.5rem;
    cursor: pointer;
}

#skill {
    color: #8C1A11;
    padding-bottom: 0.5rem;
}

#impact {
    color: black;
    padding-bottom: 0.5rem;
}

/* bar */

#bar-container{
    grid-area: bar;
    width: 330px;
    background-color: #F7F8FA;
    border-right: 1px solid #D6D6D6;
}

#mastery-level-main-title{
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

#skill-set{
    cursor: pointer;
}

#skill-set p {
    margin: 0;
}

.component-container{
    padding: 1rem 0.15rem 1rem 0.15rem;
    display: flex;
    flex-direction: row;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-self: stretch;
}

.title-viz{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: none;
    order: 0;
    flex-grow:1;
    gap: 0.25rem;
}

.component-title{
    font-weight: 600;
    font-size:1.125rem;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.component-viz{
    width:15rem;
    height:1.3125rem;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.label-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.label-mastered{
    font-weight: 400;
    font-size: 0.75rem;
    color: #fff;
    background: rgba(0, 96, 56, 0.6);
    border-radius: 4px;
    padding: 2px 4px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.label-not-mastered{
    font-weight: 400;
    font-size: 0.75rem;
    color: #fff;
    background: #D60E0E;
    border-radius: 4px;
    padding: 2px 4px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.score-mastered{
    font-weight: 600;
    font-size: 1.5rem;
    float: right;
    color: rgba(0, 96, 56, 0.6);

    flex: none;
    order: 1;
    flex-grow: 0;
}

.score-not-mastered{
    font-weight: 600;
    font-size: 1.5rem;
    float: right;
    color: #B14E46;

    flex: none;
    order: 1;
    flex-grow: 0;    
}

/* detail */

#detail-container{
    grid-area: detail;
}

    /* no skill select */

img{
    width: 25rem;
    display:block;
    margin: 0 auto;
    margin-top: 5rem;
}

#no-skill-selected-title{
    font-weight: 600;
    font-size: 1.875rem;
    color: #B14E46;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

#no-skill-selected-content{
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #565656;
    margin: 0;
}

    /* skill select */
#detail-annotation{
    grid-area: detail;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    margin-top: 1.25rem;
}

#detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right:1.25rem;
}

#detail-title{
    font-weight: 600;
    font-size: 1.875rem;
    color:#313131;
    margin-bottom: 1rem;
}

#detail-svg{
    width: 33.125rem;
    height: 2.4375rem;
}

#annotation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0.5rem;
}

#annotation p{
    margin: 0;
}

#title-sub-score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 0.125rem;
    flex: none;
    order: 0;
    flex-grow: 1;

    width: 329px;
}

#title-sub{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0.125rem;
    flex: none;
    order: 0;
    flex-grow: 1;
}

#annotation-title{
    font-weight: 500;
    font-size: 1.125rem;
    color: #565656;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#annotation-sub{
    font-weight: 400;
    font-size: 0.75rem;
    color: #8C8888;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#annotation-score{
    font-weight: 600;
    font-size: 1.875rem;
    color: #006038; 
    flex: none;
    order: 1;
    flex-grow: 0;
}

#mastery-level-group{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 0.5rem;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.mastery-level{
    box-sizing: border-box;
    background: #F7F8FA;
    border: 1px solid #D6D6D6;
    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem 0.5rem;
}

.mastery-level p{
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #565656;
}

.mastery-level-score{
    font-weight: 600;
    font-size: 1rem;
}

#highest-mastery-level{
    flex: none;
    order: 0;
    flex-grow: 0;
}

#lowest-mastery-level{
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* activities */

#activities{
    margin-top: 1.875rem;
    display: grid;
    grid-column-gap: 0.25rem;
}

#activities-set{
    overflow: scroll;
}

#activities-title{
    font-weight: 400;
    font-size: 0.875rem;
    color: #565656;
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:'activity activity activity activity time score';

    border-bottom: 1px solid #8C8888;
    filter: drop-shadow(0px 1px 4px rgba(63, 63, 63, 0.25));
    min-width: 880px;
}

#activities-title-related-ac {
    grid-area: activity;
}

#activities-title-time {
    grid-area: time;
}

#activities-title-related-ac {
    grid-area: score;
    text-align: right;
}

#activities-title p{
    margin: 0;
}

/* activity component */

.activity-component{
    align-items: center;
    border-bottom: 1px solid #D6D6D6;
    display: grid;
    min-width: 880px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:'activity activity activity activity time score';
    cursor: pointer;
}


.icon-type-name{
    align-items: center;
    padding: 4px 10px 4px 7px;
    grid-area: activity;
    margin: 8px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px 4px 7px;
    gap: 0.8rem;
}

.activity-icon{
    width: 1.125rem;
    margin:0;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.type-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 0.25rem;
    flex: none;
    order: 1;
    flex-grow: 1;

}

.activity-type{
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: uppercase;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.activity-name{
    font-weight: 600;
    font-size: 1.125rem;
    color: #313131;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#activities-set p{
    font-weight: 400;
    font-size: 14px;
    color: #313131;
    margin:0;
}

.activity-time{
    grid-area: time;
}

.activity-score{
    text-align: right;
    grid-area: score;
}






/* skill-mastery-activity-detail */
#skill-mastery-activity-detail {
    margin: 12px 24px 24px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    'nav nav nav nav nav nav nav nav nav nav nav nav '
    'header header header header header header header header empty empty empty empty'
    'contents contents contents contents contents contents contents contents placeholder side side side';
}

/* nav */
#detail-nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 18px;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 18px;
}

#detail-nav-origin{
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #8C1A11;
    cursor: pointer;
}

#detail-nav-arrow1{
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 6px;
    margin:0;
}

#detail-nav-skill-name{
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #8C1A11;
    cursor: pointer;
}

#detail-nav-arrow2{
    flex: none;
    order: 3;
    flex-grow: 0;
    width: 6px;
    margin:0;
}

#detail-nav-text{
    flex: none;
    order: 4;
    flex-grow: 0;
    color: #313131;
}

/* title */
#detail-title{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    margin-bottom: 18px;
}

#type-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#detail-title-type{
    font-weight: 600;
    font-size: 18px;
    color: #565656;
    text-transform: uppercase;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#detail-title-name{
    font-weight: 600;
    font-size: 30px;
    color: #313131;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#detail-title-bar{
    flex: none;
    order: 1;
    flex-grow: 0;
}

#detail-content-practice-activity{
    grid-area: contents;
}

.detail-section-title{
    font-weight: 600;
    font-size: 18px;
    color: #8C1A11;
    text-transform: uppercase;
}


/* detail-side */
#detail-side-practice-activity{
    grid-area: side;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

#detail-side-learning-objective{
    flex: none;
    order: 0;
    flex-grow: 0;
}

#detail-side-learning-objective-list{
    font-weight: 500;
    font-size: 16px;
    color: #313131;
}

#detail-side-learning-objective-assignment{
    box-sizing: border-box;
    padding: 4px 10px;

    display: inline-block;

    border: 1px solid #B14E46;
    border-radius: 4px;

    font-weight: 600;
    font-size: 16px;

    color: #8C1A11;
    cursor:pointer;
}


#detail-side-related-instruction{
    flex: none;
    order: 1;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

#related-instruction-title{
    flex: none;
    order: 0;
    flex-grow: 0;
}

.related-instruction-component {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    background: #FFFFFF;

    border: 1px solid #8C8888;
    border-radius: 4px;

    align-self: stretch;
    cursor: pointer;
}

.related-instruction-component img{
    width: 18px;
    height: 20px;
    margin:0;
    flex: none;
    order: 0;

}

#related-instruction-component-1{
    flex: none;
    order: 1;
    flex-grow: 1;
}

#related-instruction-component-2{
    flex: none;
    order: 2;
    flex-grow: 1;
}

#detail-side-related-skills{
    flex: none;
    order: 2;
    flex-grow: 0;
}

#detail-side-related-skills li{
    cursor: pointer;
}

/* rubric component  */
#rubrics-set{
    margin-top:4px;
    margin-bottom:24px;
}

.comb-rubric-component{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:'left right';
    grid-column-gap: 15px;
    margin-bottom: 12px;
}


.rubric-component{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'title title title score'
        'content content content content';
    box-sizing: border-box;
    padding: 4px 0px 6px;
    gap: 4px;
}

.rubric-component-title{
    grid-area: title;
    font-weight: 600;
    font-size: 16px;
    color: #313131;

}

.rubric-component-score{
    grid-area: score;
    font-weight: 600;
    font-size: 16px;
    color: #313131;
    text-align: right;
}

.rubric-component-content{
    grid-area: content;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #565656;
}

/* example card */
#example-set{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    margin: 12px 0;
}

#example-set img{
    margin:0;
    width:6px;
    height:12px;
    cursor: pointer;
}

#example-set-card{
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        'score content content content content content';
    grid-column-gap: 20px;

    padding: 20px;
    /* gap: 20px; */

    background: #FFFFFF;

    border: 1px solid #D6D6D6;

    box-shadow: 0px 4px 6px rgba(104, 104, 104, 0.15);
    border-radius: 8px;
}

#title-total-score{
    display:flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 4px 0px;
    gap: 8px;
}

#card-scores{
    grid-area: score;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    border-radius: 4px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#card-title{
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: flex-end;
    color: #8C1A11;
}

#card-total-score{
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: flex-end;
    color: #8C1A11;
}

#card-detail-score{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #313131;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

.card-rubric-pair{
    display:flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 4px 0px;
    gap: 8px;
}

#card-text{
    grid-area: content;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #313131;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}




/* impact */
#impact-evaluation-main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'header header header header header header header header header header header header'
      'left left left left left left left left right right right right';
    grid-column-gap: 1.25rem;
    grid-row-gap: 1rem;
    padding: 30px 32px 0 32px;
}

#impact-main-title {
    grid-area: header;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #313131;
}

#impact-main-grid-left{
    grid-area: left;
}

#impact-nav-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 12px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(104, 104, 104, 0.15);
    border-radius: 8px;
    margin-bottom: 22px; 
}


#impact-nav-col-left{
    order:0;
    display: flex;
    gap:40px;
}

#nav-col-sort{
    order:1;
}

#nav-col-version{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#nav-col-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#nav-col-sort{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#nav-col-version-control{
    padding: 8px 20px;

    border: 1px solid #D6D6D6;
    box-shadow: 0px 1px 4px rgba(63, 63, 63, 0.25);
    border-radius: 4px;

    font-weight: 400;
    font-size: 16px;
    color: #565656;
}

.nav-col-title{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8C1A11;
}

#nav-col-group-control{
    display: flex;
}

#nav-col-group-control div{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 108px;
    text-align: center;
}

.control-unselected{
    background-color: #FFFFFF;
    color: #8C8888;
    border: 1px solid #D6D6D6;
}

.control-selected{
    background-color: #8C1A11;
    color: #FFFFFF;
    border: 1px solid #8C1A11;
}

#group-control-left{
    border-radius: 8px 0px 0px 8px;
}

#group-control-right{
    border-radius: 0px 8px 8px 0px;
}


#nav-col-sort-control{
    display: flex;
    gap:12px
}

#nav-col-sort-control img{
    margin:0;
    width: 36px;
    box-shadow: 0px 4px 6px rgba(104, 104, 104, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

#expand-collapse{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #8C1A11;

    display: flex;
    gap:24px;

    margin-bottom:8px;
}

#expand-collapse div{
    cursor:pointer;
}

#impact-main-grid-right{
    grid-area: right;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(104, 104, 104, 0.15);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    height: 24px;
}

#impact-main-grid-right img{
    margin: 0;
    width: 24px;
    height:24px;
    cursor: pointer;
}

#right-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 0;
}

#right-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #313131;
}

#right-body{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #565656;
    order: 1;
    display: none;
}


/* impact component */
.impact-component-top{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;

    background: rgba(140, 26, 17, 0.1);

    border-left: 3px solid #8C1A11;
    box-shadow: 0px 1px 4px rgba(140, 26, 17, 0.15);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.impact-component-title{
    font-weight: 600;
    font-size: 18px;
    color: #8C1A11;
}

.impact-component-total-arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.impact-component-total{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #565656;
}

.impact-component-top img{
    margin:0;
    width: 24px;
    cursor: pointer;
}

.impact-component-bottom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 20px 0px 0px;
    gap: 28px;

    background: #FFFFFF;

    box-shadow: 0px 4px 6px rgba(104, 104, 104, 0.15);
    border-radius: 8px;
}


/* impact-skill */
.impact-component-skills{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    justify-content: space-between;

    margin: 16px 0 20px 0;
}

.impact-component-skills-title{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #565656;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0px 20px;
}

.impact-component-bottom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 20px 0px 0px;
    gap: 28px;
}

.impact-component-skills-left-right{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.impact-component-skills-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.impact-component-skills-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.skills-name-score{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 20px;
    gap: 8px;
}

.impact-component-skills-name{
    font-weight: 600;
    font-size: 16px;
    color: #313131;
    width: 173px;
}

.impact-component-skills-score{
    font-weight: 600;
    font-size: 16px;
    color: #8C1A11;
}


/* impact-insight  */
.impact-component-insights{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;


    background: #F4F4F4;
    border-radius: 6px;

    flex: none;
    order: 1;

    margin: 16px 0 20px 0;
}

.impact-component-insights-title{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #565656;
}

.impact-component-insights-list{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #313131;
}