body {
    font-family: 'Lato';
    font-style: normal;
    margin:0;
    height: 100%;
    overflow: hidden;
    padding: 1.25rem 1.25rem 0 1.25rem;

    min-width: 1240px;
}

#skill-side-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'header header header header header header header header header header header header'
      'detail detail detail detail detail detail detail detail side side side side';
    grid-column-gap: 1.25rem;
}

/* header */

#nav-container {
    grid-area: header;
    height: 2.73rem;

    border-bottom: 2px solid #D6D6D6;
    filter: drop-shadow(0px 4px 6px rgba(104, 104, 104, 0.15));

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

#nav-container div{
    font-weight: 600;
    font-size: 24px;
    color: #313131;
}

.main-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #313131;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

#nav-container .invisable-img{
    margin:0;
    width: 6px;
    display: none;
}

.nav-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

#nav-skill{
    display: none;
}

#nav-activity-detail{
    display: none;
}

/* main-skill */

#skill-container{
    grid-area: detail;
}

#legend-set{
    display: flex;
    gap:24px;
    justify-content: flex-end
}

.legend-component{
    display: flex;
    gap:4px;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #313131;
}

.legend-component img{
    display: flex;
    margin:0;
}

#legend-1{
    width: 14px;
    height: 14px;
}

#legend-2{
    width: 15px;
    height: 14px;
}

#legend-3{
    height: 5px;
}

/* component  */
#component-set{
    min-width: 740px;
    cursor: pointer;
}

.skill-component{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      'left left right right right right right right';
    grid-column-gap: 1.25rem;
    border-bottom: 1px solid #D6D6D6;
    align-items: center;
    padding:16px 0;
}

.skill-component-left{
    grid-area: left;
}

.skill-component-left-state{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

    display: inline;
    padding: 2px 4px;
    gap: 10px;

    background: rgba(0, 96, 56, 0.6);
    border-radius: 4px;
}

.skill-component-left-score{
    color: #006038;
}

.component-name-score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-weight: 500;
    font-size: 18px;
    color: #313131;

    gap:8px;

    margin-top: 4px;
}

.skill-component-right{
    grid-area: right;
    display:flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-between;
}

.skill-component-right img{
    margin:0;
    width: 78px
}

.svg-bar-placeholder{
    width: 480px;
    height: 39px;
    background-color: #ccc;
}

/* side  */

#side-container{
    grid-area: side;
}

#side-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.side-component{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;
    border: 1px solid #8C1A11;
    border-radius: 8px;
}

.side-title{
    padding: 4px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #8C1A11;
    border-bottom: 1px solid #D6D6D6;
    align-self: stretch;
}

.side-content{
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #313131;
}







/* skill detail  */

#skill-detail {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'main main main main main main main main main right right right';
    grid-column-gap: 1.25rem;

    margin: 32px 20px 0 24px;
}

#skill-detail-left{
    grid-area: main;
}

#skill-detail-filter-set{
    margin-top:24px;
}

#skill-detail-left-title{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #313131;
}

#skill-detail-filter-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #565656;
}

#skill-detail-filters{
    display: flex;
    gap:24px;
}

.filter-component{
    display: flex;
    align-items: center;
    gap:8px;
}

.filter-component input{
    width: 24px;
    height: 24px;
    border: 1px solid;
    border-radius: 3px;
}

.filter-component label{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

#filter-component-1 label{
    color: #7AB0B1;
}

#filter-component-2 label{
    color: #AF92B6;
}
#filter-component-3 label{
    color: #B65F19;
}


#skill-detail-bar{
    margin:12px 0;
    /* background-color:#ccc; */
    width: 100%;
    height: 209px;
}

#skill-detail-activity-title{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
      'activity activity activity activity activity due due score score';
    grid-column-gap: 1.25rem;

    padding: 0px 0px 4px;
    border-bottom: 1px solid #8C8888;
    filter: drop-shadow(0px 1px 4px rgba(63, 63, 63, 0.25));
}

#skill-detail-activity-title div{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #565656;
}

#skill-detail-activity-title-1{
    grid-area: activity;
}

#skill-detail-activity-title-2{
    grid-area: due;
}

#skill-detail-activity-title-3{
    grid-area: score;
    text-align: right;
}

.detail-activity-component{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
      'activity activity activity activity activity due due score score';
    grid-column-gap: 1.25rem;
    padding: 8px 0px;

    border-bottom: 1px solid #D6D6D6;

    cursor: pointer;
}

.component-listed-activity{
    grid-area: activity;
    align-items: center;
}

.component-due-time{
    grid-area: due;
    font-weight: 400;
    font-size: 14px;
    color: #313131;
    display: flex;
    align-items: center;
}

.component-your-score{
    grid-area: score;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    justify-content: flex-end;
    color: #313131;
    display: flex;
    align-items: center;
}

.component-listed-activity{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.listed-activity-type-name{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.component-listed-activity img{
    margin:0;
    width: 18px;
    height:20px;
}

.listed-activity-type{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.listed-activity-name{
    font-weight: 600;
    font-size: 18px;
}


/* skill detail  */

#skill-detail-right{
    grid-area: right;
}

#skill-detail-right-annotation{
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(104, 104, 104, 0.15);
    border-radius: 8px;
}

#right-annotation-title-icon{
    display: flex;
    justify-content: space-between;
}

#right-annotation-title-icon img{
    margin:0;
    width: 24px;
    height:24px;
    cursor: pointer;
}

#right-annotation-title{
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #313131;
}

#right-annotation-content{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #565656;
    margin-top: 12px;
}

/* comming soon  */
#skill-detail-right-coming-soon{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 10px;

    background: rgba(225, 225, 225, 0.19);
    border-radius: 8px;
}

#coming-soon-activity-set{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap:12px;
}

.comming-soon-component{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 10px;
    gap: 4px;

    border: 1px solid #D6D6D6;
    border-radius: 8px;

    cursor: pointer;
}

.type-score{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.comming-soon-component-type{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #565656;
}

.comming-soon-component-score{
    font-weight: 400;
    font-size: 14px;
    color: #565656;
}

.comming-soon-component-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #313131;
}

.comming-soon-component-due{
    font-weight: 400;
    font-size: 12px;
    color: #565656;
}


.recommended-component{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    background: #FFFFFF;

    border: 1px solid #8C8888;
    border-radius: 4px;
}

.recommended-component img{
    margin:0;
    width:18px;
    height:20px;
}

#coming-soon-page-header-type{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #565656;
}

#coming-soon-page-header-name{
    font-weight: 600;
    font-size: 30px;
    color: #313131;
}

.coming-soon-page-section-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #8C1A11;
}


/* skill-coming-soon-page  */

#skill-coming-soon-page{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'header header header header header header header button button placeholder1 placeholder1 placeholder1'
      'body body body body body body body placeholder2 placeholder2 placeholder2 placeholder2 placeholder2';
    grid-column-gap: 1.25rem;
    grid-row-gap: 24px;
    padding: 8px 0px;
}

#coming-soon-page-header{
    grid-area: header;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-top: 24px;
}

#header-type-name{
    display: flex;
    flex-direction: column;
    gap:12px;
}

#coming-soon-page-header-button{
    border: 1px solid rgba(140, 26, 17, 0.6);
    border-radius: 4px;

    font-weight: 600;
    font-size: 16px;
    color: #8C1A11;

    padding: 4px 10px;

    cursor:pointer;
}

#coming-soon-page-body{
    grid-area: body;
    display:flex;
    flex-direction: column;
    gap: 24px;
}

#coming-soon-page-body ul{
    margin:0;
}

#coming-soon-page-body li{
    margin: 4px 0;
}

#recommended-content-set{
    display: flex;
    flex-direction: column;
    gap:12px;
    width: 310px;
}

.coming-soon-page-section{
    display:flex;
    flex-direction: column;
    gap:12px;
}



/* list-activity-detail-page */
#list-activity-detail-page{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    'header header header header header header header header header placeholder placeholder placeholder'
    'body body body body body body body body body side side side';
    grid-row-gap: 18px;
    grid-column-gap: 20px;
    padding: 24px 0 0 0;
}

#list-activity-detail-header{
    grid-area: header;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#list-activity-detail-header-type-name{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#list-activity-detail-header-type{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #565656;
}

#list-activity-detail-header-name{
    font-weight: 600;
    font-size: 30px;
    color: #313131;
}

#list-activity-detail-header-score-button{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#list-activity-detail-header-score{
    font-weight: 600;
    font-size: 30px;
    color: #8C1A11;
}

#list-activity-detail-header-button{
    font-weight: 600;
    font-size: 16px;
    color: #8C1A11;

    padding: 4px 10px;
    border: 1px solid rgba(140, 26, 17, 0.6);
    border-radius: 4px;

    cursor: pointer;
}

/* list-activity-detail-practice-activity */
#list-activity-detail-body-practice-activity{
    grid-area: body;
    display: flex;
    flex-direction: column;
    gap:24px;
}

.practice-activity-title{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #8C1A11;
    margin-bottom: 12px;
}

#practice-activity-recommend-set{
    display:flex;
    flex-direction: column;
    width: 310px;
    gap: 12px;
}

.practice-activity-recommend-component{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    background: #FFFFFF;

    border: 1px solid #8C8888;
    border-radius: 4px;
}

#practice-activity-recommend img{
    margin:0;
    width: 18px;
    height: 20px;
}

#practice-activity-learning-objective ul{
    margin:0;
}

#practice-activity-learning-objective li{
    margin: 4px 0;
}

#practice-activity-other-skills ul{
    margin:0;
}

#practice-activity-other-skills li{
    margin: 4px 0;
}

#practice-activity-feedback{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #565656;
}   

#practice-activity-feedback-header{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
    'rubric rubric score feedback feedback feedback feedback feedback feedback';
    grid-row-gap: 18px;

    border-bottom: 1px solid #8C8888;
}

#feedback-header-1{
    grid-area: rubric;
}

#feedback-header-2{
    grid-area: score;
    text-align: center;
}

#feedback-header-3{
    grid-area: feedback;
}

.feedback-component{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
    'rubric rubric score feedback feedback feedback feedback feedback feedback';
    grid-row-gap: 18px;

    align-items: center;
    padding: 5px 0;
}

.feedback-component-name{
    grid-area: rubric;
}

.feedback-component-score{
    grid-area: score;
    text-align: center;
}

.feedback-component-feedback{
    grid-area: feedback;
}

/* list-activity-detail-knowledge-check */
#list-activity-detail-body-knowledge-check{
    grid-area: body;
}

#knowledge-check-side{
    grid-area: side;
}

#knowledge-check-expand-collapse{
    font-weight: 500;
    font-size: 16px;
    color: #8C1A11;

    display:flex;
    flex-direction: row;
    gap:24px;
    margin-bottom: 4px;
}

#knowledge-check-expand-collapse div{
    cursor: pointer;
}

.question-component-header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;

    background: rgba(140, 26, 17, 0.1);
    box-shadow: 0px 1px 4px rgba(140, 26, 17, 0.15);

    align-self: stretch;
    flex-grow: 0;
}

.question-type{
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: center;
}

.question-component-header-question{
    font-weight: 600;
    font-size: 18px;
    color: #8C1A11;
}

.question-component-header-skill{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #470D00;
}

.question-component-header-score{
    font-weight: 600;
    font-size: 18px;
    color: #8C1A11;
}

.question-component-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 8px;

    background: #FFFFFF;

    box-shadow: 0px 4px 6px rgba(104, 104, 104, 0.15);
    border-radius: 8px;
}

.question-component-body-question{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #313131;
}

.question-component-body-options{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.question-component-body-options-component{
    font-weight: 500;
    font-size: 16px;
    color: #313131;
}

.question-component-body-feedback div{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #565656;
}

.question-component-body-options-feedback{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
    'left left left left left right right right right';
    grid-row-gap: 18px;

    align-items: center;
    padding: 5px 0;
}

.question-component-body-options{
    grid-area: left;
}

.question-component-body-feedback{
    grid-area: right;
}

.question-component-body-feedback-title{
    text-transform: uppercase;
}


#knowledge-check-side-title{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #8C1A11;

    margin-bottom: 4px;
}

#knowledge-check-side-set{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.knowledge-check-side-component{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.knowledge-check-side-component-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-weight: 600;
    font-size: 16px;
    color: #313131;

    padding: 4px 0;
}

.knowledge-check-side-component-body{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #565656;
}

.score-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.score-icon img{
    margin: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.bar-tooltip {	
    position: absolute;			
    text-align: center;	
    width: 135px;					
    height: 45px;					
    padding: 4px 0 2px 0;
    color: white;					
    background: #3C3C3C;	
    border: 0px;		
    border-radius: 4px;			
    pointer-events: none;	
    
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.bar-tooltip p{
    text-transform: uppercase;
    font-weight: 500;
    margin: 2px 0 0 0 ;
    padding:0;
}

#skill-detail-activity-set{
    overflow: scroll;
}

#skill-detail-right-coming-soon{
    overflow: scroll;
}

#list-activity-detail-body-practice-activity{
    overflow: scroll;
}

#knowledge-check-question-set{
    overflow: scroll;
}

.main-tooltip{
    margin:0;
    width: 18px;
    height: 18px;
}

/* tooltip  */
.tooltip-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 10px;
    gap: 12px;

    position: absolute;
    width: 380px;
    /* height: 96px; */

    background: #FFFFFF;

    box-shadow: 0px 4px 6px rgba(104, 104, 104, 0.15);
    border-radius: 8px;
}

.tooltip-title{
    font-weight: 500;
    font-size: 18px;
    color: #8C1A11;
}

.tooltip-body{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

#tooltip-content-skill{
    left:110px;
    top: 10px;
}

#tooltip-content-mastery{
    left:250px;
    top: 70px;
}

